@import '../../sass/vars';

.gridColumnLabels {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 2%;
  width: 92.5%;
  height: 10%;
  padding-left: 22%;
  transition: opacity $won-transition-duration;

  &.won {
    opacity: 0;
  }
}

.gridColumnLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}