@import '../../sass/vars.scss';

.gridColumnLabels {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  @include full-width();
  height: 10%;
  padding-left: 17%;
}

.gridColumnLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}