$small-mobile-breakpoint: 300px;
$large-mobile-breakpoint: 400px;
$small-tablet-breakpoint: 768px;
$large-tablet-breakpoint: 1024px;
$small-monitor-breakpoint: 1280px;
$large-monitor-breakpoint: 1600px;

$grid-base-height: 70%;
$hints-base-height: 30%;
