@import '../../sass/vars';

.grid {
  @include full-width();
  height: 60%;
  overflow: hidden;
  
  transition: 
    left $won-transition-duration,
    top $won-transition-duration,
    width $won-transition-duration,
    height $won-transition-duration;

  &.won {
    left: 0;
    top: 0;
    @include full-width();
    @include full-height();
  }
}
