@import '../../sass/vars';

.grid {
  @include full-width();
  left: 0;
  top: 0;
  height: 60%;
  overflow: hidden;

  &.won {
    left: 0;
    top: 0;
    @include full-width();
    @include full-height();
  }
}
