@import '../../sass/vars';

.hints {
  max-height: initial;
  display: block;
  padding: 0;
  margin: 0;
  transition:
    opacity $won-transition-duration
    max-height 0.01s linear $won-transition-duration;

  &.won {
    opacity: 0;
    max-height: 0;
  }
}
