@import '../../sass/vars';

.hints {
  height: initial;
  display: block;
  padding: 0;
  margin: 0;
  transition: opacity $won-transition-duration;

  &.won {
    opacity: 0;
    animation: knockout $won-transition-duration;
  }

  @keyframes knockout {
    0% {
      height: initial;
    }
    99% {
      height: initial;
    }
    100% {
      height: 0;
    }
  }
}
