@import '../../sass/vars.scss';

.gridRowLabels {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: $grid-base-height;
  padding-top: 7%;
  padding-left: 5%;
}

.gridRowLabel {
  display: flex;
  align-items: center;
}
