@import '../../sass/vars';

.gridItem {
  @include full-width();

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: white;

  transition: background-color $color-transition-duration;

  &.red {
    background-color: rgba(255, 0, 0, 0.5);
  }

  &.green {
    background-color: rgba(0, 255, 0, 0.5);
  }

  &.yellow {
    background-color: rgba(255, 255, 0, 0.5);
  }

  &.won {
    transition:
      background-color
        $won-transition-duration,
        
      transform
        $won-transition-duration * 2
        ease-in
        $won-transition-duration * 1.5;
  }
}
