@import '../../sass/vars.scss';

.gridItem {
  @include full-width();

  display: block;
  border: 1px solid black;
  background: white;

  transition: background-color $color-transition-duration;

  cursor: pointer;

  &:global(.mdc-button) {
    --mdc-theme-primary: red;

    /* Don't let the ripple effect persist on focus, it'll be confusing. */
    &:global(.mdc-ripple-upgraded--background-focused:before),
    &:global(:not(.mdc-ripple-upgraded):focus:before) {
      opacity: 0;
    }
  }

  &.active:not(:disabled) {
    background-color: rgba(255, 0, 0, 0.5);
  }
}
