@import '../../sass/vars.scss';

.gridItem {
  @include full-width();

  display: block;
  border: 1px solid black;
  background: white;

  transition: background-color $color-transition-duration;

  cursor: pointer;

  &:global(.mdc-button) {
    --mdc-theme-primary: rgba(0, 0, 0, 0.5);
  }

  &.active:not(:disabled) {
    background-color: rgba(255, 0, 0, 0.5);
  }

  /* No focus highlighting. Too confusing for users. */
  &:global(.mdc-button:not(.mdc-ripple-upgraded)):focus:before {
    opacity: 0;
  }

  &:disabled {
    opacity: 0.1;
  }
}
