@import '../../sass/vars';

.hint {
  display: list-item;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 10px;
  color: $black;
  background: $off-white;
  list-style-type: none;
  transition: opacity $won-transition-duration / 3;

  &.active, &:global(.active) {
    color: $white;
    background: $black;
    list-style-type: '✓';
  }

  &.won {
    pointer-events: none;
    opacity: 0.25;
  }
}

.hintCheckbox {
  position: relative;
  top: 1px;
  margin-right: 10px;
  cursor: pointer;
}

.hintLabel {
  cursor: pointer;
}
