<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Everything in the head element is for previewing only. -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Widget Template</title>

    <style>
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    [data-widget-host="grid-puzzler"] {
      width: 100%;
      height: 100%;
    }
    </style>
  </head>

  <body>
    <!--
      Make sure to copy the habitat host into the Twine. It *must* be in the
      document when the bundle script is executed, otherwise it will fail
      completely.
    -->
    <div data-widget-host="grid-puzzler"></div>

    <!--
      The actual file source of bundle.js (probably at `build/bundle.js`) must
      be copied into the Twine.
    -->
    <script src="main.js"></script>
    <script>GridPuzzler.render()</script>
  </body>
</html>
